$green: #57d9a6;
$red: #fc5468;
$white: #ffffff;
$gray: #b2b2bf;
$textColor: #f6f6f8;
$backgroundGray: #f5f5f5;
$shadowColor: #e4e4e5;
$subTextColor: #4e4e65;
$darkBlue: #1c1c33;
$lightBlue: #23233b;
$paginationColor: #222222;
