@import "../../Scss/Variables.scss";

.nav {
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav__logo__link {
  display: block;
  margin-right: 3px;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.nav__item {
  & + & {
    margin-left: 34px;
  }
}

.nav__link {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  transition: letter-spacing 0.25s ease;

  &:hover {
    letter-spacing: 0.8px;
  }

  &::before {
    display: block;
    content: attr(title);
    letter-spacing: 0.8px;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
}

.nav__button {
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  background-color: transparent;
  border: none;
  border-radius: 50%;
  outline: none;
  color: $white;
  cursor: pointer;
}

.nav__button__count {
  position: absolute;
  top: calc(0px + 8px);
  right: calc(0px + 4px);
  display: block;
  width: 18px;
  height: 18px;
  font-size: 11px;
  line-height: 18px;
  background-color: $red;
  border-radius: 50%;
}

.nav__burger {
  width: 32px;
  height: 32px;
  padding: 0;
  color: $textColor;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@media only screen and(max-width: 850px) {
  .nav__logo__link {
    svg {
      width: 120px;
      height: 40px;
    }
  }

  .nav__item {
    & + & {
      margin-left: 20px;
    }
  }
}

@media only screen and(max-width: 768px) {
  .nav__button {
    position: fixed;
    z-index: 99;
    bottom: 20px;
    right: 20px;
    background-color: $green;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    &__count {
      right: calc(0px + 4px + 4px);
    }

    svg {
      margin-left: -5px;
      margin-top: 2px;
    }
  }

  .nav__list {
    position: absolute;
    z-index: 99;
    top: 96px;
    right: 10px;
    flex-direction: column;
    background-color: $lightBlue;
    border-radius: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    pointer-events: none;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.25s ease;

    &--open {
      pointer-events: all;
      overflow: visible;
      opacity: 1;
    }
  }

  .nav__item {
    padding: 10px 20px;
    transition: background-color 0.25s ease, color 0.25s ease;

    & + & {
      margin: 0;
    }

    &:hover {
      background-color: $green;
      color: $darkBlue;
    }

    &:first-child {
      border-radius: 10px 10px 0px 0px;
    }

    &:last-child {
      border-radius: 0px 0px 10px 10px;
    }
  }

  .nav__link {
    &::before {
      display: none;
    }

    &:hover {
      letter-spacing: normal;
    }
  }
}

@media only screen and(max-width: 475px) {
  .nav__logo__link {
    svg {
      width: 98px;
      height: 32px;
    }
  }

  .nav__list {
    position: absolute;
    top: 84px;
  }
}

@media only screen and(max-width: 375px) {
  .nav__list {
    position: absolute;
    top: 82px;
  }

  .nav__item {
    padding: 5px 10px;
  }

  .nav__link {
    font-size: 16px;
  }
}
